/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

.todo-container {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: cornflowerblue;
}

button {
    padding: 10px 15px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: blue;
}

/* List Styling */
ul {
    list-style: none;
   
}

li {
    background: blue;
    border-bottom: 1px solid rgb(186, 29, 29);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.completed {
    text-decoration: line-through;
    color: wheat;
    opacity: 0.6;
}